aiohttp==3.8.3
aiosignal==1.3.1
altair==4.2.0
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
aniso8601==8.1.0
anyio==3.1.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
autograd==1.3
autograd-gamma==0.4.2
Babel==2.9.1
backcall==0.1.0
base58==2.1.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
bidict==0.21.2
bleach==3.1.5
blinker==1.4
cachetools==4.2.2
cairocffi==1.2.0
CairoSVG==2.5.2
cbsodata==1.3.4
certifi==2020.4.5.1
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
CMH==1.0.1
colorama==0.4.4
commonmark==0.9.1
cryptography==36.0.1
cssselect2==0.4.1
cycler==0.10.0
-e git+ssh://github.com/mellesies/data-science-tools@783e2f98064ec2c465a2260cfd007f6c0d0716d0#egg=data_science_tools
dataframe-image==0.1.3
decorator==4.4.2
defusedxml==0.6.0
dnspython==1.16.0
entrypoints==0.3
et-xmlfile==1.1.0
eventlet==0.30.0
fastjsonschema==2.16.2
Flask==1.1.2
Flask-Cors==3.0.9
Flask-JWT-Extended==3.24.0
flask-marshmallow==0.14.0
Flask-RESTful==0.3.8
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.4.4
FormEncode==2.0.0
formulaic==0.2.4
frozenlist==1.3.3
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
greenlet==0.4.17
h11==0.13.0
idna==2.9
imgkit==1.2.2
importlib-metadata==5.0.0
iniconfig==1.1.1
interface-meta==1.2.3
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==3.1.2
joblib==0.15.1
json5==0.9.4
jsondiff==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.2.0
jupyter-contrib-core==0.3.3
jupyter-core==4.11.1
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.19.1
jupyter_client==7.3.5
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.0.0
jupyterlab_server==2.15.2
kiwisolver==1.2.0
lark-parser==0.11.1
lifelines==0.26.0
lxml==4.6.2
marko==1.1.0
MarkupSafe==2.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
matplotlib==3.2.1
mistune==2.0.4
mpmath==1.1.0
multidict==6.0.3
munch==2.5.0
nbclassic==0.3.1
nbclient==0.6.8
nbconvert==7.1.0
nbformat==5.6.1
nest-asyncio==1.5.6
networkx==2.5
notebook==6.0.3
numpy==1.20.3
openpyxl==3.0.7
outcome==1.1.0
packaging==20.3
pandas==1.3.2
pandocfilters==1.4.2
parso==0.7.0
pdfkit==0.6.1
pdflatex==0.1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.0
pluggy==0.13.1
plumbum==1.7.0
ply==3.11
portpicker==1.4.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.17.3
ptyprocess==0.6.0
py==1.9.0
py-fhir==0.1.1a5
pyarrow==5.0.0
pycparser==2.20
pydeck==0.6.2
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.1.2
python-dateutil==2.8.2
python-engineio==4.0.0
python-socketio==5.0.3
pytz==2020.1
PyYAML==5.3.1
pyzmq==24.0.1
qtconsole==4.7.7
QtPy==1.9.0
requests==2.23.0
rich==12.0.0
rpy2==3.3.6
scikit-learn==0.24.2
scipy==1.6.3
selenium==4.1.3
Send2Trash==1.5.0
six==1.14.0
smmap==4.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.22
streamlit==0.86.0
sympy==1.6.2
tabulate==0.8.9
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
-e git+https://github.com/mellesies/thomas-client@0fa76e6e35b50b959ebae255efa3ff688a504ff5#egg=thomas_client&subdirectory=../../thomas-client
# Editable Git install (thomas-core==0.1.3) with either a deleted local remote or invalid URI:
# 'git+ssh://github.com/mellesies/thomas-core.git'
-e /Users/melle/software-development/thomas-master/thomas-core
-e git+https://github.com/mellesies/thomas-jupyter-widget@5a29c0aa324485829d76dd40b6c101dace998c68#egg=thomas_jupyter_widget&subdirectory=../../thomas-jupyter-widget
-e git+https://github.com/mellesies/thomas-server@72b349df305dbdd308b8c69cf1957379c66e94af#egg=thomas_server&subdirectory=../../thomas-server
threadpoolctl==2.1.0
tinycss2==1.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.10.0
tornado==6.2
traitlets==5.4.0
trio==0.20.0
trio-websocket==0.9.2
tzlocal==2.1
urllib3==1.26.13
urllib3-secure-extra==0.1.0
validators==0.18.2
watchdog==2.1.3
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wsproto==1.1.0
xlrd==1.2.0
xmldiff==2.4
yarl==1.8.2
zipp==3.1.0
